// COLOUR VARIABLES
$color-primary: #1b1b1b;
$color-secondary: #003e78;
$color-dark-blue: #013e74;
$color-button: #017edb;
$color-footer: #43484d;
$color-footer-text: #8b9399;
$color-bg: #eeeff1;

$color-white: #fff;

$tabActiveBgColor: #fff;
$tabActiveTextColor: #5a5243;
$tabNectiveBgColor: #5a5243;
$tabNectiveTextColor: #f5f5f5;

$transitionSpeed: 200ms;

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
