ul li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: $color-button;
  color: $color-white;
  border-radius: 4px;
  width: auto;
  padding: 14px;
  font-size: 1.5rem;
  display: block;
  margin: 1rem auto;
  font-family: "Roboto", sans-serif;  
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
